PORTAL_SECRET=generate_with_openssl_rand_base64_32
DEMO_PORTAL_ENABLED=false
DEMO_PORTAL_EMAIL=
DEMO_PORTAL_PASSWORD=
DEMO_PORTAL_CLIENT_ID=
RESEND_API_KEY=
RESEND_FROM=hello@scalesmiths.co.uk
SUPPORT_EMAIL=support@scalesmiths.co.uk
ADMIN_PORTAL_URL=https://admin.scalesmiths.co.uk
