PORTAL_SECRET=generate_with_openssl_rand_base64_32
DEMO_PORTAL_ENABLED=false
DEMO_PORTAL_EMAIL=
DEMO_PORTAL_PASSWORD=
DEMO_PORTAL_CLIENT_ID=
RESEND_API_KEY=
RESEND_FROM=hello@scalesmiths.co.uk
SUPPORT_EMAIL=support@scalesmiths.co.uk
ADMIN_PORTAL_URL=https://admin.scalesmiths.co.uk
ERROR_MONITORING_PROVIDER=none
ERROR_MONITORING_DSN=
ERROR_MONITORING_RELEASE=
ERROR_MONITORING_ENVIRONMENT=development
ERROR_MONITORING_SAMPLE_RATE=1
MONITORING_SELF_TEST_TOKEN=
SENTRY_AUTH_TOKEN=
SENTRY_ORG=
SENTRY_WEB_PROJECT=
LOG_SHIPPING_ENDPOINT=
LOG_SHIPPING_TOKEN=
